# Configuración de la aplicación
PORT=3000

# Configuración de la base de datos
# Para desarrollo local
MONGODB_URI=mongodb://localhost:27017/whatsapp_bot
# Para Docker
# MONGODB_URI=mongodb://mongodb:27017/whatsapp_bot

# Configuración de WhatsApp
SESSION_DATA_PATH=./session 